{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">

    <div class="details">
        <div class="links clearfix">
            <ul class="links-menu">
                <li><a href="{% url 'mainapp:products' %}" class="active">все</a></li>
                {% for category in categories %}
                    <li><a href="{% url 'mainapp:category' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% include 'mainapp/includes/card.html' %}
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                <a class="page-link" href="{% if products.has_previous %} {% url 'mainapp:page' id_category=category_id page=products.previous_page_number %} {% endif %}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>

            {% for page in products.paginator.page_range %}
               <li class="page-item">
                    <a class='page-link' href="{% url 'mainapp:page' id_category=category_id page=page %}">{{ page }}</a>
               </li>
            {% endfor %}

            <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                <a class="page-link" href="{% if products.has_next %} {% url 'mainapp:page' id_category=category_id page=products.next_page_number %} {% endif %}">Next</a></li>

        </ul>
        </nav>
        <div class="related">
            <div class="title clearfix">
                <h2>Похожие продукты</h2>
                <a class="explore" href="#">показать все <img src="{% static '/img/arrow.png' %}" alt=""></a>
            </div>
            <div class="related-products clearfix">
                <div class="block">
                    <a href="#"><img src="{% static '/img/product-11.jpg' %}" alt="">
                        <div class="text">
                            <img src="{% static '/img/icon-hover.png' %}" alt="img">
                            <h4>Стул повышенного качества</h4>
                            <p>Не оторваться. </p>
                        </div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="{% static 'img/product-21.jpg' %}" alt="">
                        <div class="text">
                            <img src="{% static '/img/icon-hover.png' %}" alt="img">
                            <h4>Стул повышенного качества</h4>
                            <p>Не оторваться. </p>
                        </div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="{% static 'img/product-31.jpg' %}" alt="">
                        <div class="text">
                            <img src="{% static 'img/icon-hover.png' %}" alt="img">
                            <h4>Стул повышенного качества</h4>
                            <p>Не оторваться. </p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="clr"></div>

</div>

{% endblock %}

{%  block footer %}
        <div class="footer">
        <div class="clearfix">
            <div class="text-footer">
                <h3>контакты</h3>
            </div>
            <div class="text-footer">
                <h3>полезная информация</h3>
            </div>
            <div class="text-footer clearfix">
                <h3>Оставайтесь на связи</h3>
                <p>Подписаться на новости и рассылки</p>
                <form>
                    <input type="email" name="email" placeholder="ваш email">
                    <a href="#"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></a>
                </form>
            </div>
        </div>
        <p class="small">&copy; GB 2017</p>
        <div class="social">
            <a href="#" class="social1"></a>
            <a href="#" class="social2"></a>
            <a href="#" class="social3"></a>
            <a href="#" class="social4"></a>
        </div>
        <p class="small">Положения &amp; Условия  /  Конфиденциальность &amp; Cookies</p>
    </div>
{% endblock %}